# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: miniconda build
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test-environment
          python-version: 3.6
          channels: bioconda,default,anaconda
          allow-softlinks: true
          channel-priority: 'flexible'
          show-channel-urls: true
          use-only-tar-bz2: true
          auto-update-conda: true
      - name: setup rust
        run: |
          mkdir ~/rust-installer
          curl -sL https://static.rust-lang.org/rustup.sh -o ~/rust-installer/rustup.sh
          sh ~/rust-installer/rustup.sh  -y  -q

      - name: setup conda
        run: |
          conda config --set always_yes yes --set changeps1 no
          conda info -a
          conda list
          conda config --show-sources
          conda config --show


      - name: Install dependencies
        run: |
          conda install -q python=$TRAVIS_PYTHON_VERSION pytest-cov pip
          pip install maturin
          maturin develop

      - name: Test with pytest
        run: |
          pytest --cov=./ 

      - name: codecov
        run: |
          bash <(curl -s https://codecov.io/bash)

